/* #c2c2af
#252525
#fffef2 */

.header1-text{
  font-size: .920rem;
  font-weight: 400;
}
nav{
  font-weight:400;
  font-size: .875rem;
  font-family: Suisse Medium,sans-serif;

}
.slider-div{
  position: relative;
  color: white;
}
.pic1{
  /* transform: scale (1.5); */
  /* transform: scale(1.2); */
  position: absolute;
  top: 0%;
  z-index: -1;
}
.Discover-btn{
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 1.2rem;
}
.Discover-btn svg{
  margin-left: 5rem;
}
.slider-text{
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
  padding: 6.5rem  2.5rem;
  gap: 4rem;
}
.products .Discover-btn,.slider2 .Discover-btn{
  background-color: transparent;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  padding: 1.2rem;
}